@model chatting.Models.groupmessage

@{
    ViewBag.Title = "Grup Sohbeti";
}

<h2>@Model.groupname</h2>

<div>
    <h3>Mesajları Görüntüle</h3>
    <ul>
        @foreach (var message in Model)
        {
            <li>@message.gmessage</li>
        }
    </ul>
</div>

<div>
    <h3>Yeni Mesaj Ekle</h3>
    @using (Html.BeginForm("SendMessage", "Group"))
    {
        @Html.Hidden("groupId", Model.gid)
        @Html.TextBox("messageText")
        <input type="submit" value="Gönder" />
    }
</div>

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>
