<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Profili</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row-reverse;
        }

-       .profile-picture {
            max-width: 200px;
        }

        .user-info {
            flex-grow: 1;
        }

        .info-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
        }

        .label {
            font-weight: bold;
        }

        .alert {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="profile-picture">
            <div class="profile-picture">
                @if (Model != null && Model.userpp != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.userpp)" alt="Profil Resmi" class="img-thumbnail" style="max-width: 200px;" />
                }
                else
                {
                    <p>Mevcut profil resmi yok.</p>
                }
            </div>
<<<<<<< HEAD


            @using (Html.BeginForm("Index", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="imageFile">Yeni Profil Resmi:</label>
                    <input type="file" name="imageFile" id="imageFile" />
                    <button type="submit" class="btn btn-primary">Resmi Yükle</button>
                </div>
            }
=======
>>>>>>> 98a5e62 (updateProje dosyası ekle.)
        </div>
        <div class="user-info">
            <h2>Kullanıcı Profili</h2>

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }

            <div class="info-row">
                <span class="label">Kullanıcı Adı:</span>
                <span>@Model.usernickname</span>
            </div>
            <div class="info-row">
                <span class="label">Adı:</span>
                <span>@Model.username</span>
            </div>
            <div class="info-row">
                <span class="label">Soyadı:</span>
                <span>@Model.usersurname</span>
            </div>
            <div class="info-row">
                <span class="label">Yaşı:</span>
                <span>@Model.userage</span>
            </div>
            <div class="info-row">
                <span class="label">Numarası:</span>
                <span>@Model.userphone</span>
            </div>

            <div class="info-row">
                <span class="label">İşi:</span>
                <span>@Model.userjob</span>
            </div>
            <div class="info-row">
                <span class="label">Konumu:</span>
                <span>@Model.usercity</span>
            </div>
        </div>
    </div>
</body>
</html>
