@model chatting.Models.user

<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Ayrıntıları</title>
    <style>
        .user-details {
            display: flex;
            justify-content: space-between;
        }

        .user-info {
            width: 48%;
        }

        .content-list {
            width: 48%;
        }

            .content-list h3 {
                font-size: 18px;
                margin-bottom: 10px;
            }

        .message-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <h2>Kullanıcı Ayrıntıları</h2>
    <div class="profile-picture">
        @if (Model != null && Model.userpp != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.userpp)" alt="Profil Resmi" class="img-thumbnail" style="max-width: 200px;" />
        }
        else
        {
            <p>Mevcut profil resmi yok.</p>
        }
    </div>
    <div class="user-details">
        <div class="user-info">
            <label>Kullanıcı Adı:</label>
            <span>@Model.usernickname</span>
            <div>
                <label>Adı:</label>
                <span>@Model.username</span>
            </div>
            <div>
                <label>Soyadı:</label>
                <span>@Model.usersurname</span>
            </div>
            <div>
                <label>Yaşı:</label>
                <span>@Model.userage</span>
            </div>
            <div>
                <label>Numarası:</label>
                <span>@Model.userphone</span>
            </div>

        </div>
        <div class="content-list">
            <h3>@Model.usernickname'nin İçerikleri</h3>
            @foreach (var content in Model.content)
            {
                <div class="message-box">
                    <h3>@content.title</h3>
                    <p>@content.message</p>
                </div>
            }
        </div>
    </div>
    <p><a href="@Url.Action("Index", "Home")">Ana Sayfa'ya Dön</a></p>
</body>
</html>
